@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2655D1;
  --color-secondary: #152D55;
  --color-base-200: #ECF3FE;
  --color-base-300: #B7CDFE;
  --color-accent: #0D244C;
  --color-accent-content: white;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=light] *));